<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/res.css" />
    <link rel="stylesheet" href="css/error.css">
  </head>
  <body>
    <div class="box">
        <span>404</span>
        <h2 id="now">Whoops !! You entered a Wrong City Name !!</h2>
        <form action="/post" method="POST">
          <button type="submit">Back to Home </button>
        </form>
        <p>Made By Jay Mehta</p>
      </div>
      
  </body>

</html>